*{
    background-color: #00A2E8;
    color: white;
}

.title{
    font-size:30px;
    font-weight: bold;
}

QPushButton{
    background-color: #fff;
    color: blue;
    padding: 10% 100% ;
}

.path{
    font-size:20px;
    font-weight: normal;
}
